.container-1{
    width: 850px;
    height: 500px;
    background-color: whitesmoke;
    padding-left: 50px;
    margin: 0 auto;
}
h1{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    padding-top: 10px;
}
.header{
    display: flex;
}
.navbar{
    display: flex;
    padding-top: 15px;
    padding-left: 350px;
}
h5{
    padding-left: 10px;
    font-family: Poppins;
    font-size: 11px;
}
.nav{
    color: orange;
}
.nav-1{
    padding-left: 15px;
}
h4{
    padding-top: 80px;
    font-family: Poppins;
}
p{
    padding-bottom: 10px;
}
.p1{
    font-family: Poppins;
    width: 450px;
    line-height: 20px ;
}
.home{
    display: flex;
}
img{
    width: 350px;
}
.button-1{
    font-family: Poppins;
    background-color: #D9832E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 12px;
}
.button-2{
    font-family: Poppins;
    border: 1px solid#D9832E;
    color: #D9832E;
    padding: 15px 32px;
    text-align: center;
    font-size: 12px;
}
.top{
    display: flex;
    border: 1px solid #D9832E;
    width: 150px;
    height: 70px;
    top: 1492px;
    left: 855px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
}
/* About Me Start  */
.container-2{
    width: 850px;
    height: 550px;
    padding-top: 20px;
    background-color: #EAEDF2;
    padding-left: 50px;
    margin: 0 auto;
}
.orange{
    color: #D9832E;
    text-decoration: none;
}
.image01{
    width: 320px;
    height: 360px;
    border: 10px solid white;
}
.AboutMe-2{
    display: flex;
}
.AboutMe-3{
    padding-left: 20px;
}
.AboutMe-4{
    padding-right: 30px;
    line-height: 5px;
}
.tony{
    padding-bottom: 7px;
}
.ab{
    display: flex;
}
.ab-1{
    display: flex;
    line-height: 20px;
}
.ab-2 {
    font-weight: bold;
    line-height: 5px;
    font-size: 13px;
}
.ab-3 {
    font-weight: bold;
    line-height: 5px;
    font-size: 13px;
    padding-left: 30px;
}
.ab-4{
    font-family: Poppins;
    padding-left: 40px;
    line-height: 2px;
    color: #8E8888;
}
.ab-5{
    font-family: Poppins;
    padding-left: 40px;
    line-height: 2px;
    color: #8E8888;
}
/* My Skills Start  */
.container-3{
    display: flex;
    background-color: whitesmoke;
    padding-top: 20px;
    width: 900px;
    height: 350px;
    margin: 0 auto;
}
.MySkills{
    padding-left: 48px;
}
.MySkills-1{
    padding-left: 25px;
    padding-top: 1px;
    line-height: 0.1px;
}
.html{
    display: flex;
    padding-left: 20px;
}
.percent1{
    padding-left: 300px;
}
.image1{
    padding-top: 0.01px;
}
.MySkills-2{
    padding-left: 25px;
    padding-bottom: 10px;
    line-height: 0.1px;
}
.wordpress{
    display: flex;
    padding-left: 20px;
}
.percent2{
    padding-left: 285px;
}
.image2{
    padding-top: 0.01px;
}
.MySkills-3{
    padding-left: 25px;
    padding-bottom: 10px;
    line-height: 0.1px;
}
.magento{
    display: flex;
    padding-left: 20px;
    padding-bottom: 0.01px;
}
.percent3{
    padding-left: 298px;
}
.image3{
    padding-top: 0.01px;
}
.MySkills-4{
    padding-left: 25px;
    padding-top: 1px;
    line-height: 0.1px;
}
.ux{
    display: flex;
    padding-left: 20px;
}
.percent4{
    padding-left: 310px;
}
.image4{
    padding-top: 0.01px;
}
.skills{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 140px; 
    padding-right: 10px;
}
.skills-2{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-right: 30px; 
}
.left{
    width: 500px;
}
.right{
    width: 400px;
}
.top-1{
    padding-left: 10px;
    text-align: center;
    padding-top: 10px;
    line-height: 0.01px;
}
.top-2{
    padding-left: 5px;
    text-align: center;
    line-height: 0.01px;
}
.top-a{
    margin-left: 20px;
    display: flex;
    border: 1px solid #D9832E;
    width: 150px;
    height: 70px;
    top: 1492px;
    left: 855px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
}
.top-3{
    padding-top: 10px;
    padding-left: 2px;
}
.top-4{
    padding-left: 10px;
    text-align: center;
    padding-top: 10px;
    line-height: 0.01px;
}
.top-5{
    line-height: 0.01px;
}
.top-6{
    padding-left: 10px;
    text-align: center;
    padding-top: 10px;
    line-height: 0.01px;
}
.top-7{
    line-height: 0.01px;
}
/* My Services Starts */
.container-4{
    background-color: #EAEDF2;
    padding-top: 20px;
    width: 900px;
    height: 600px;
    margin: 0 auto;
}
.head{
    padding-left: 45px;
    font-family: Poppins;
    padding-bottom: 30px;
}
span{
    text-decoration: underline orange;
}
svg{
    padding-left: 20px;
    padding-top: 20px;
}
.top11{
    height: 225px; 
    gap: 5px;
    display: flex;
    justify-content: space-evenly;
}
.top-11{
    height: 180px;
    background-color: white ;
    text-align: start;
    line-height: 5px;
}
.top-1-1{
    width: 200px;
    text-align: start;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
/* Latest Works Starts */
.container-5{
    background-color: whitesmoke;
    padding-top: 20px;
    width: 900px;
    height: 700px;
    margin: 0 auto;
}
.end{
    padding-left: 45px;
    font-family: Poppins;
}
.end-1{
    padding-left: 45px;
    padding-top: 20px;
}
.portfolio-1{
    width: 260px;
    height: 251px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.portfolio-2{
    width: 260px;
    height: 251px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.portfolio-3{
    width: 260px;
    height: 251px;
    padding-bottom: 15px;
}
.portfolio-4{
    width: 260px;
    height: 251px;
    padding-right: 15px;
}
.portfolio-5{
    width: 260px;
    height: 251px;
    padding-right: 15px;
}
.portfolio-6{
    width: 260px;
    height: 251px;
}




